{% extends 'base.html' %}
{% block title %} {{ object.title }} {{block.super}} {% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<h4><a href="{% url 'post-create' %}">
	<button class="ui button">
  				NewPost
	</button>
</a>
</h4>
{% endif %}

{% for i in object_list %}
<h3>
    {% if request.user.is_authenticated %}
    <a href="{{ i.get_absolute_url }}">{{ i.title }}</a><br>
    {% else %}
    {{ i.title }}<br>
    {% endif %}
</h3>
<div class="ui right aligned grid">
    <div class="center aligned two column row">
        <div class=" column">
        {% if i.image %}
        <img class="ui medium rounded image" src="{{ i.image.url }}">
        {% endif %}
        </div>
        <div class="column"> {{ i.content }}</div>
    </div>
</div>
<div class="ui divider"></div>
{% empty %}
    <p>No posts yet.</p>
{% endfor %}
<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
	
{% endblock %}