{% extends 'base.html' %}
{% block title %} {{ object.title }} {{block.super}} {% endblock %}

{% block content %}

<h4><a href="{% url 'post-create' %}">
	<button class="ui button">
  				NewPost
	</button>
</a>
</h4>
{% for i in object_list %}
    <a href="{{ i.get_absolute_url }}">{{ i.title }}</a><br>
      {% if i.image %}
    <img src="{{ i.image.url }}"><br>
    {% endif %}
    {{ i.content }}<br>
{% empty %}
    <p>No posts yet.</p>
{% endfor %}
<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
	
{% endblock %}