{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} RiverLearn|Blog{% endblock %} </title>
	{% include 'snippets/css.html' %}
	<link rel="icon" href="{% static "icon/rl.png" %}" class="ui mini image">
	<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
</head> 
{% autoescape on %}

	<body  style="background-color: ivory;" >
		<div class="ui fixed menu">
           <div class="item">
            <img class="ui tiny image" src="{% static "icon/rl.png" %}">
          </div>
          {% include 'snippets/nav.html' %}

        </div>


			<div class="ui two column centered grid">
	  			<div class="column">
	  				<div class="ui inverted segment" style="padding-top: 50px;">
								<br>

								{% block content %}
							

								{% endblock %}
								{% include 'snippets/js.html' %}
					</div>
				</div>
			</div>

	</body>
{% endautoescape %}
</html>
